@font-face {
    font-family: 'Yekan';
    src: url('./fonts/Yekan.woff') format('woff'),
        url('./fonts/Yekan.woff2') format('woff2');
}

form {
    position: relative;
    left: 0;
    right: 0;
    margin: 40px auto;
    width: 400px;
    height: auto;
    padding: 30px;
    box-shadow: 0 0 5px gray;
    font-family: 'Yekan';

}

label {
    display: block;
    margin: 10px 0;
    font-family: 'Yekan';
}

input {
    display: block;
    margin: 10px 0;
    width: 100%;
    height: 30px;
    border-style: none;
    box-shadow: 0 0 4px lightgray;
}

input:focus {
    outline: 2px solid dodgerblue;
    border-radius: 3px;
}

button {
    width: 100%;
    margin: 10px 0;
    height: 35px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Yekan';

}

.disable {
    background-color: lightgray;
    cursor:not-allowed;
    }

.wrong {
    color: red;
}

.wrong::before {
    content: 'X';
    padding: 0 10px 0  0;
}

.right {
    color: green;
}

.right::before {
    content: 'O';
    padding: 0 10px 0 0;
}